### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [110]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Checking import of data worked and understanding data structure
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [111]:
## Option 1:  Throw selected column data into new dataframe and use the .count method
#player_count_df = purchase_data_df["SN"]
#player_count_df.count()

In [112]:
## Option 2:  Use existing dataframe and utilize the .describe method.  Drawback:  lists additional
# unnecessary information at the same time.  This is also a gross count, meaning duplicate purchases
# by the same user will inflate the number.

#purchase_data_df.describe()

In [113]:
## Option 3:  Use the .nunique method to count only unique values.
#purchase_data_df.nunique()

In [114]:
## Option 3 continued:  The above result is a great illustration of commentary in option 2.
# The unique accounts of "Purchase ID" and "SN" differ significantly - So our final solution here 
# will be to contrain our query to the "SN" column. [ Cite your sources:  Found this solution
# via the amazing Stack Overflow, 
# https://stackoverflow.com/questions/15411158/pandas-countdistinct-equivalent ].

## For presentation purposes I'm adding a descriptive statement alongside the result.
players = purchase_data_df["SN"].nunique()

print(f"Total Player Count:  {players}")

Total Player Count:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
## Unique Item Count task.  Using the .value_counts method to pull out uniques and then the
# len function to count the objects in that new list.

unique_item_count = len(purchase_data_df["Item ID"].value_counts())

## Average Purchase Price task.  Straight-forward, using .mean method.
avg_purch_price = purchase_data_df["Price"].mean()

## Total Purchases Task.  Using .count method.
total_purch = purchase_data_df["Purchase ID"].count()

## Total Revenue Task.  Using .sum method.
total_revenue = purchase_data_df["Price"].sum()

## Creating new summary dataframe to combine the above calculations
# using the pd.DataFrame method going to smash to gether the calcs above.  Is this technically
# a dictionary since we're using the format of Key:value pairs?
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                  "Avg Purchase Price": [avg_purch_price],
                                  "Total Purchases": [total_purch],
                                  "Total Revenue": [total_revenue]
                                 })

## Gonna go for that sweet optional bonus and format the columns via mapping method
purchase_analysis_df["Avg Purchase Price"] = purchase_analysis_df["Avg Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Avg Purchase Price  Total Purchases Total Revenue
0                     179              $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [116]:
# Use Groupby method for the gender analysis
demo_gender_detail_df = purchase_data_df.groupby(["Gender"])
# Calculate number of distinct users
demo_gender_count = demo_gender_detail_df["SN"].nunique()
# Calculate percentage
demo_gender_percent = demo_gender_count / players
demo_gender_percent = demo_gender_percent.map("{:.2%}".format)
#combine into new dataframe vai pd.DataFrame method
demo_gender_summary = pd.DataFrame({"Gender Count": demo_gender_count,
                                   "Percent": demo_gender_percent})
demo_gender_summary.sort_values(["Gender Count"], ascending = False)

                       Gender Count Percent
Gender
Male                            484  84.03%
Female                           81  14.06%
Other / Non-Disclosed            11   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
#Count calc
purch_gender_purch_count = demo_gender_detail_df["Purchase ID"].count()

#purch avg calc
purch_gender_purch_avg = demo_gender_detail_df["Price"].mean()
#purch_gender_purch_avg = purch_gender_purch_avg.map("${:,.2f}".format)

#Total Purch calc
purch_gender_purch_tot = demo_gender_detail_df["Price"].sum()
#purch_gender_purch_tot = purch_gender_purch_tot.map("${:,.2f}".format)


#Avg Total Purch Calc
purch_gender_tot_avg = purch_gender_purch_tot / demo_gender_count
purch_gender_tot_avg

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [124]:
purch_gender_summary = pd.DataFrame({"Purchase Count", purch_gender_purch_count,
                                    "Avg Purchase Price", purch_gender_purch_avg,
                                    "Total Purchase Amt", purch_gender_purch_tot,
                                    "Avg Total Purchase", purch_gender_tot_avg })

purch_gender_summary.index.name = "Gender"

#purch_gender_summary["Purchase Count"] = purch_gender_summary["Purchase Count"].map("${:,.2f}".format)
#purch_gender_summary["Avg Purchase Price"] = purch_gender_summary["Avg Purchase Price"].map("${:,.2f}".format)
#purch_gender_summary["Total Purchase Amt"] = purch_gender_summary["Total Purchase Amt"].map("${:,.2f}".format)
#purch_gender_summary["Avg Total Purchase"] = purch_gender_summary["Avg Total Purchase"].map("${:,.2f}".format)
purch_gender_summary

TypeError: 'Series' objects are mutable, thus they cannot be hashed

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80